<div class="row row-cols-1 row-cols-md-3 g-4">
    <% products.forEach(product => { %>
        <div class="col">
            <div class="card h-100">
                <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <p class="card-text"><strong>Цена: <%= product.price %> ₽</strong></p>
                    <a href="/product/<%= product.id %>" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    <% }); %>
</div> 